.Show{
  width:70%;
  margin:0 auto;
  .Show_sub{
    margin:30px 0 0 0;
    .Show_Date{
      margin:20px 0;
    }
    .Show_body{
      padding:15px;
      font-size:1.3rem;
      box-sizing: border-box;
      border-style: solid;
      border-image: linear-gradient(to right, #777777 0%, #EEEEEE 100%);
      border-image-slice: 1;
      background: #f7f7f7;
    }
    h3 p{
      display:inline-block;
    }
    h3 p:after {
            content: "";
            display: block;
            width: inherit;
            height: 3px;
            margin: 10px auto 0;
            background-image: linear-gradient(90deg,#db7093,#ffdead);
          }
  }
}
.author{
  font-weight: bold;
}
.C_h2{
  font-family: 'Cute Font', cursive;
  margin-bottom:0;
  text-align: center;
  font-weight:bold;
}
.reply_error{
  color : red;
  width:100%;
  display:inline-block;
  text-align: center;
}
.reply-com-error{
  color : red;
  width:100%;
  display:inline-block;
  text-align: center;
  margin:20px 0 40px 0;
}