.App{
  background-image: url("./image/bg.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  height:100vh;
  h1{
    text-align:center;
    margin:50px 0;
    background: linear-gradient(to right, #ec6ca7, #8ccce7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fredoka One', cursive;
  }
}