h1{
  text-align:center;
  margin:50px 0;
  background: linear-gradient(to right, #fbcac9, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Fredoka One', cursive;
}